/* https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/ */
.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

.wrapper {
	display: flex;
	border: 1px solid rgb(96, 139, 168);
}

.wrapper input[type="text"] {
	flex: 1 1 auto;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav {
    /* 12em is the width of the columns */
    flex: 0 0 10em;
  }
  .HolyGrail-ads {
    /* 12em is the width of the columns */
    border-left: 3px solid black;
    flex: 0 0 44%;
  }
  .HolyGrail-header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }
}